.header-content {
	margin-top: 50px;
	padding-top: 36px;
	font-size: 20px;
	font-style: italic;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	
}
.header-titulos {
font-size: 28px;
font-style: oblique;
font-family: initial;
margin-top: 10px;
text-align: center;
border-radius: 5px;
margin-bottom: 10px;
}
#pie{
font-size: 12px;
padding-top: 80px;
text-align: center;
border-color: #FFF;
}
.fondo {
	min-height: 800px;
}
.col-xs-10.col-sm-10.col-md-10.col-lg-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1 {
	border: 1px solid;
	min-height: 580px;
	border-radius: 5px;
	border-color: #2b68c8;
	margin-top: 5px;
	
	
}

.mintext {
	padding-top: 13px;
	font-size: 15px;
	color: #FFFC;
	padding-left: 0px;
	text-align: center;
}

.logox {
	height: 35px;
	width: 125px;
	padding-top: 0px;
	margin-top: -9px;
}